<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mentor List</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Age</td>
        <td>Gender</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mentor : ${mentors}">
      <td th:text="${mentor.fistName}"></td>
      <td th:text="${mentor.lastName}"></td>
      <td th:text="${mentor.age}"></td>
      <td th:text="${mentor.gender}"></td>

    </tr>
<!--    <tr>-->
<!--        <td th:text="${mentors.get(1).fistName}"></td>-->
<!--        <td th:text="${mentors.get(1).lastName}"></td>-->
<!--        <td th:text="${mentors.get(1).age}"></td>-->
<!--        <td th:text="${mentors.get(1).getGender()}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td th:text="${mentors.get(2).fistName}"></td>-->
<!--        <td th:text="${mentors.get(2).lastName}"></td>-->
<!--        <td th:text="${mentors.get(2).age}"></td>-->
<!--        <td th:text="${mentors.get(2).getGender()}"></td>-->

<!--    </tr>-->
<!--    <tr>-->
<!--        <td th:text="${mentors.get(3).fistName}"></td>-->
<!--        <td th:text="${mentors.get(3).lastName}"></td>-->
<!--        <td th:text="${mentors.get(3).age}"></td>-->
<!--        <td th:text="${mentors.get(3).getGender()}"></td>-->
<!--    </tr>-->
    </tbody>



</table>

</body>
</html>